name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main", "git"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: mcdygaming/metrics@latest
        with:
          token: ${{ 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 }}
